.container {
  max-width: 800px;
  margin: 5% auto;
  padding: 40px;
  background: #f9ff81;;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
}

input {
  display: block;
  width: 90%;
  margin: 20px auto;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff9100;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #ff9100;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fff;
  padding: 14px;
  margin-top: 12px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.select-container {
  position: relative;
  width: 63%; // Define a largura menor do seletor
  display: inline-block;

  .custom-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background: white;
    appearance: none;
    cursor: pointer;
    transition: border-color 0.3s;

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }

  &::after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: gray;
  }
}
