<div class="container">
  <h2>Cadastro de convidados PODPAH</h2>

  <div class="input-group">
    <input [(ngModel)]="name" placeholder="Convidado" class="input-field" />
    <input [(ngModel)]="description" placeholder="Assunto" class="input-field" />
  </div>

  <div class="select-container">
    <select [(ngModel)]="dayOfWeek" class="custom-select">
      <option value="" disabled selected>Selecione o dia da semana</option>
      <option *ngFor="let day of daysOfWeek" [value]="day">{{ day }}</option>
    </select>
  </div>

  <button (click)="saveUser()" class="btn-primary">
    {{ isEditing ? 'Salvar' : 'Adicionar convidado' }}
  </button>

  <ul>
    <li *ngFor="let user of users$ | async">
      <strong>{{ user.dayOfWeek }}</strong>: vamos receber <strong>{{ user.name }}</strong> e falar sobre <strong>{{ user.description }}</strong>
      <button (click)="editUser(user)" class="btn-edit">Editar</button>
      <button (click)="deleteUser(user.id)" class="btn-delete">Deletar</button>
    </li>
  </ul>
</div>
