.container {
  max-width: 800px;
  margin: 5% auto;
  padding: 40px;
  background: #f9ff81;;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
}

input {
  display: block;
  width: 90%;
  margin: 20px auto;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff9100;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #ff9100;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fff;
  padding: 14px;
  margin-top: 12px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
