<div class="container">
  <h2>Cadastro de convidados PODPAH</h2>

  <input [(ngModel)]="name" placeholder="Nome" />
  <input [(ngModel)]="description" placeholder="Assunto" />

  <button (click)="saveUser()">
    {{ isEditing ? 'Salvar' : 'Adicionar convidado' }}
  </button>

  <ul>
    <li *ngFor="let user of users$ | async">
      {{ user.dayOfWeek }} vamos receber {{ user.name }} e vamos falar sobre {{ user.description }}
      <button (click)="editUser(user)">Editar</button>
      <button (click)="deleteUser(user.id)">Deletar</button>
    </li>
  </ul>
</div>
